* {
  background-color: beige;
}

#title{
  text-align: center;
  font-family: fantasy;
}
.container{
    height: 300px;
    width: 100%;
}

#display{
    width: 100%;
    font-size: 72px;
    text-align: center;
    margin: 0px auto;
}

.buttons{
    text-align: center;
    margin-top: 80px;


}
#startStop{
  margin: 50px;
  padding: 160px;
  font-family: fantasy;
  font-size: 60px;
  background-color: white;
}

#reset{
  margin: 100px;
  padding: 160px;
  font-family: fantasy;
  font-size: 60px;
  background-color: white;
}

.navbar {
  list-style: none;
  background-color: yellow;
  padding: 0;
  margin: 0;
  text-align: center;
}

.navbar li {
  display: inline-block;
}
.navbar a {
  text-decoration: none;
  color: white;
  width: 100px;
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background-color: #1A4666;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  letter-spacing: 2px;
  padding: 20px;
}
.navbar a:hover{
  color:  #888A7A;
}
